.btn-primary {
  display: inline-block;
  padding: 15px 50px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  transition: 0.5s;
  background-size: 200% auto;
}

.btn-primary:hover {
  background-position: right center;
}

.btn-1 {
  background-image: linear-gradient(to right, #37abb5 51%, #a6d3d7 100%);
}
